<!-- Nav Container -->
<nav class="relative container mx-auto p-6">
  <!-- Flex Container For All Items -->
  <div class="flex items-center justify-between">
    <!-- Flex Container For Logo/Menu -->
    <div class="flex items-center space-x-20">
      <!-- Logo -->

      <img src="../assets/images/logo.svg" alt="" />
      <!-- Left Menu -->
      <div class="hidden space-x-8 font-bold lg:flex">
        <a href="#" class="text-grayishViolet hover:text-veryDarkViolet"
          >Counsellors’ Portal</a
        >
        <a href="#" class="text-grayishViolet hover:text-veryDarkViolet"
          >Our Services</a
        >
        <a href="#" class="text-grayishViolet hover:text-veryDarkViolet"
          >Well-being Resources</a
        >
        <a href="#" class="text-grayishViolet hover:text-veryDarkViolet"
          >Contact Us</a
        >
      </div>
    </div>

    <!-- Right Buttons Menu -->
    <div
      class="hidden items-center space-x-6 font-bold text-grayishViolet lg:flex"
    >
      <a
              href="#"
              class="px-8 py-3 font-bold text-white bg-darkViolet rounded-full hover:opacity-70"
      >Business Space Login</a
      >
      <a
        href="#"
        class="px-8 py-3 font-bold text-white bg-cyan rounded-full hover:opacity-70"
        >Sign Up</a
      >
    </div>

    <!-- Hamburger Button -->

    <button
      id="menu-btn"
      (click)="navToggle()"
      class="block hamburger lg:hidden focus:outline-none"
      [ngClass]="showingMobileMenu ? 'open' : ''"
      type="button"
    >
      <span class="hamburger-top"></span>
      <span class="hamburger-middle"></span>
      <span class="hamburger-bottom"></span>
    </button>
  </div>

  <!-- Mobile Menu -->
  <div
    id="menu"
    class="absolute p-6 rounded-lg bg-darkViolet left-6 right-6 top-20 z-100"
    [ngClass]="showingMobileMenu ? 'flex' : 'hidden'"
  >
    <div
      class="flex flex-col items-center justify-center w-full space-y-6 font-bold text-white rounded-sm"
    >
      <a href="#" class="w-full text-center">Features</a>
      <a href="#" class="w-full text-center">Pricing</a>
      <a href="#" class="w-full text-center">Resources</a>
      <a href="#" class="w-full pt-6 border-t border-gray-400 text-center"
        >Login</a
      >
      <a href="#" class="w-full py-3 text-center rounded-full bg-cyan"
        >Sign Up</a
      >
    </div>
  </div>
</nav>
