<header class="bg-primary text-white text-center">
  <div class="container">
    <div class="column">
      <h3>Osborne Forklifts</h3>
    </div>
    <div class="column">
      <nav>
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a routerLink="fleet" class="nav-link text-white">Fleet</a>
          </li>
          <li class="nav-item">
            <a routerLink="simulator" class="nav-link text-white">Simulator</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<main class="container">
  <router-outlet></router-outlet>
</main>
