<!-- todo: sort out C:\Users\joe_p\Dropbox\flexbox-todo-->
  <div class="flex-container flex-wrap division-container">
    <div *ngFor="let w of weightDivisions" class="division-item">
      <div class="flex-container" (click)="onWeightDivisionSelected(w)">
        <div class="flex-column">
          <img src="\assets\images\usyk-50x50.jpg" alt="division thumbnail" />
        </div>
        <div class="flex-column division-text">
          <div>{{ w.name }}</div>
          <div>{{ w.limit }}</div>
        </div>
      </div>
    </div>
  </div>
