<header class="header">
  <a href="#">
    <img class="logo" alt="Omnifood logo" src="../assets/images/logo.png" />
  </a>

  <ul class="navigation">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Products</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
<!--  <nav class="main-nav">-->
<!--&lt;!&ndash;    <ul class="main-nav-list">&ndash;&gt;-->
<!--      <ul class="navigation">-->
<!--      <li><a class="main-nav-link" href="#">How it works</a></li>-->
<!--      <li><a routerLink="/landing" class="main-nav-link" >Home</a></li>-->
<!--      <li><a routerLink="/find-film" class="main-nav-link" >Find a film</a></li>-->
<!--      <li><a routerLink="/wheel-picker" class="main-nav-link" >Wheel</a></li>-->
<!--&lt;!&ndash;      todo:&ndash;&gt;-->
<!--&lt;!&ndash;      <li><a routerLink="/wheel-picker" class="main-nav-link" >Admin</a></li>&ndash;&gt;-->

<!--      &lt;!&ndash;      <li><a class="main-nav-link" href="#">Testimonials</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;      <li><a class="main-nav-link" href="#">Pricing</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;      <li><a class="main-nav-link nav-cta" href="#">Try for free</a></li>&ndash;&gt;-->
<!--    </ul>-->
<!--  </nav>-->

  <button class="btn-mobile-nav">
    <!--      <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>-->
    <!--      <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>-->
  </button>
</header>
