<header class="header">
  <a href="#">
    <img class="logo" alt="Omnifood logo" src="../assets/images/logo.png" />
  </a>

  <nav class="main-nav">
<!--    <ul class="main-nav-list">-->
      <ul class="navigation">
      <li><a class="main-nav-link" href="#">How it works</a></li>
      <li><a routerLink="/landing" class="main-nav-link" >Home</a></li>
      <li><a routerLink="/find-film" class="main-nav-link" >Find a film</a></li>
      <li><a routerLink="/wheel-picker" class="main-nav-link" >Wheel</a></li>
<!--      todo:-->
<!--      <li><a routerLink="/wheel-picker" class="main-nav-link" >Admin</a></li>-->

      <!--      <li><a class="main-nav-link" href="#">Testimonials</a></li>-->
<!--      <li><a class="main-nav-link" href="#">Pricing</a></li>-->
<!--      <li><a class="main-nav-link nav-cta" href="#">Try for free</a></li>-->
    </ul>
  </nav>

  <button class="btn-mobile-nav">
    <!--      <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>-->
    <!--      <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>-->
  </button>
</header>
