<header class="header">
  <nav class="main-nav">
    <div class="logo">
      <img class="logo-img" alt="logo" src="../assets/images/logo.png" />
    </div>
    <ul
      #navLinks
      id="navLinks"
      class="main-nav-list"
      [ngClass]="{ open: expandHamburger }"
    >
      <li><a class="main-nav-link" href="#">How it works</a></li>
      <li><a class="main-nav-link" href="#">Meals</a></li>
      <li><a class="main-nav-link" href="#">Testimonials</a></li>
      <li><a class="main-nav-link" href="#">Pricing</a></li>
      <li><a class="main-nav-link nav-cta" href="#">Try for free</a></li>
    </ul>
    <div #hamburger class="hamburger" (click)="toggleHamburger()">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </nav>
</header>
