<div xmlns="http://www.w3.org/1999/html">Select a film by...</div>

<div class="list-btn-container">
  <!--  <button class="list-btn"><a [routerLink]="['/wheel-picker', 1]">1999</a></button>-->
  <!--  <button class="list-btn"><a [routerLink]="['/wheel-picker', 2]">PTA</a></button>-->
  <a routerLink="select-film/1"><button class="list-btn">List</button></a>
  <a routerLink="select-film/2"><button class="list-btn">Genre</button></a>
  <a routerLink="select-film/3"><button class="list-btn">Decade</button></a>
  <a routerLink="select-film/4"><button class="list-btn">Director</button></a>
  <a routerLink="select-film/5"><button class="list-btn">Actor</button></a>
</div>
