<div xmlns="http://www.w3.org/1999/html">Select a film by...</div>

<div class="list-btn-container">
  <!--  <button class="list-btn"><a [routerLink]="['/wheel-picker', 1]">1999</a></button>-->
  <!--  <button class="list-btn"><a [routerLink]="['/wheel-picker', 2]">PTA</a></button>-->

  <a routerLink="select-film/1">
    <div class="card">
      <img src="../assets/images/hero.jpg" alt="Avatar" class="card-img" />
      <div class="container">
        <h4><b>List</b></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
  </a>
  <a routerLink="select-film/2">
    <div class="card">
      <img src="../assets/images/movies-1.png" alt="Avatar" class="card-img" />
      <div class="container">
        <h4><b>Genre</b></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
  </a>
  <a routerLink="select-film/3">
    <div class="card">
      <img src="../assets/images/movies-3.png" alt="Avatar" class="card-img" />
      <div class="container">
        <h4><b>Director</b></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
  </a>
  <a routerLink="select-film/4">
    <div class="card">
      <img src="../assets/images/movies-4.avif" alt="Avatar" class="card-img" />
      <div class="container">
        <h4><b>Actor</b></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
  </a>
  <a routerLink="select-film/5">
  <div class="card">
    <img src="../assets/images/movies-2.png" alt="Avatar" class="card-img" />
    <div class="container">
      <h4><b>Decade</b></h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
  </div>
  </a>
</div>
