<header>
  <h1>Film Picker</h1>
</header>
<main class="content">
  <div class="column column-1">
    <div class="column">
      <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi corporis delectus error est id illum, magni minima nam neque praesentium ratione repellendus, tempore tenetur unde vero! Corporis impedit maiores voluptatum?</div>
      <div style="background-color: indianred">
<!--        todo: add z pattern here (not for sm)-->
      <div>
        option 1
      </div>
      <div>
        option 2
      </div>
      <div>
        option 3
      </div>
      </div>
    </div>
    <!--    <app-autocomplete></app-autocomplete>-->
  </div>
  <div class="column column-2">
<!--    todo: replace with hero img-->
<!--    <img src="https://images.unsplash.com/photo-1564760290292-23341e4df6ec?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aW50ZXJuZXR8ZW58MHx8MHx8fDA%3D" alt="Movie image" />-->


    <img class="hero-image" src="../assets/images/hero.jpg"  alt="Film reel image"/></div>
</main>
<footer>
  <p>© 2024 My Website</p>
</footer>
