<!--<p>film works!</p>-->
<!--<div>filmId: |{{filmId}}|</div>-->
<div>{{selectedFilm | json}}</div>
<div style="margin: 2rem;">
  <button class="btn btn--full">
    <a routerLink="/list/1">Back to list</a>

  </button>
  <button class="btn btn--full" (click)="pickRandomFilm()">
    Pick random film
  </button>
</div>
@if (!!selectedFilm) {
  <div class="select-film-container">
    <div class="meal">
      <img
        src="../assets/images/posters/{{selectedFilm.posterImageName}}"
        class="meal-img"
        alt="Japanese Gyozas"
      />
      <div class="meal-content">
        <div class="meal-tags">
          <span class="tag tag--vegan">[genre 1]</span>
          <span class="tag tag--paleo">[genre 2]</span>
        </div>
        <!--          <div class="meal-tags">-->
        <!--&lt;!&ndash;            todo: use these tags for genres (when a film is selected) &ndash;&gt;-->
        <!--            <span class="tag tag&#45;&#45;vegetarian">Vegetarian</span>-->
        <!--          </div>-->
        <p class="meal-title">{{ selectedFilm?.title }}</p>
        <p class="meal-title">some text</p>
        <p class="meal-title">some more text</p>
        <p class="meal-title">Even more text</p>
      </div>
    </div>

    <!--    <div class="card">-->
    <!--      <img-->
    <!--        src=""-->
    <!--        alt="Avatar"-->
    <!--        class="card-img"-->
    <!--      />-->
    <!--      <div>-->
    <!--        <h4>-->
    <!--          <b>{{  }}</b>-->
    <!--        </h4>-->
    <!--        <p>Architect & Engineer</p>-->
    <!--      </div>-->
    <!--    </div>-->
    <div class="trailer-container">
      <iframe
        class="trailer-iframe"
        src="https://www.youtube.com/embed/lXO0he1WjYw"
        title="Fight Club Trailer"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      >
      </iframe>
    </div>
  </div>
} @else {
  <!--  <h3>No films found for this selection</h3>-->
}
