<!--<div class="movie-card">-->
<!--  <div class="movie-card-header animated-bg" id="header">-->
<!--    <img-->
<!--      src="../assets/images/2.jpg"-->
<!--      alt=""-->
<!--    />-->
<!--  </div>-->
<!--  <div class="movie-card-content">-->
<!--    <h3 id="title" class="film-card-title animated-bg animated-bg-text">-->
<!--      [Movie Title]-->
<!--    </h3>-->
<!--    <p class="film-card-excerpt" id="excerpt">-->
<!--      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, iure.-->
<!--      <span class="animated-bg animated-bg-text">&nbsp;</span>-->
<!--      <span class="animated-bg animated-bg-text">&nbsp;</span>-->
<!--      <span class="animated-bg animated-bg-text">&nbsp;</span>-->
<!--    </p>-->
<!--    <div class="author">-->
<!--      <div class="profile-img animated-bg" id="profile-img">-->
<!--        <img src="../assets/images/portrait.png" alt="profile" />-->
<!--      </div>-->

<!--      <div class="author-info">-->
<!--        <strong class="animated-bg animated-bg-text" id="name">Jane Doe</strong>-->
<!--        <small id="date" class="animated-bg animated-bg-text"-->
<!--        >Oct 08, 2020</small-->
<!--        >-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
