@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
  --primary-color: #22254b;
  --secondary-color: #373b69;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  background-color: var(--secondary-color);
}

.search {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
}

.search::placeholder {
  color: #7378c5;
}

.search:focus {
  outline: none;
  background-color: var(--primary-color);
}

.landing-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  width: 200px;
  margin: 1rem;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

.movie img {
  width: 100%;
}

.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:0.2rem;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin-top: 0;
}

.movie-info span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.movie-info span.green {
  color: lightgreen;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}

.overview {
  background-color: #fff;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 50%;
  transform: translateY(101%);
  overflow-y: auto;
  transition: transform 0.3s ease-in;
}

.add-to-wl{
  display: none;
  position: absolute;
  top: 0;
  max-height: 10%;
  /*transform: translateY(101%);*/
  overflow-y: auto;
  /*transition: transform 0.3s ease-in;*/
}

.favorite-icon{
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
  border-radius: 50%;
  font-size: 24px;
  color: red;
  cursor: pointer;
  display: none; /* Hidden by default */
  transition: opacity 0.3s ease;
}


.movie:hover .overview {
  transform: translateY(0);
}

.movie:hover .favorite-icon {
display: block;
}

/*************/

/*!* Basic styling for the container *!*/
/*.image-container {*/
/*  position: relative;*/
/*  display: inline-block;*/
/*  background-color: lightcoral;*/
/*}*/

/*.image-container img {*/
/*  width: 300px; !* Adjust width as necessary *!*/
/*  height: auto;*/
/*  display: block;*/
/*}*/

/*!* Styling for the favorite button/icon *!*/
/*.favorite-icon {*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  right: 0px;*/
/*  background-color: rgba(255, 255, 255, 0.7);*/
/*  padding: 5px;*/
/*  border-radius: 50%;*/
/*  font-size: 24px;*/
/*  color: red;*/
/*  cursor: pointer;*/
/*  display: none; !* Hidden by default *!*/
/*  transition: opacity 0.3s ease;*/
/*}*/

/*!* Show the favorite button on hover *!*/
/*.image-container:hover .favorite-icon {*/
/*  display: block;*/
/*}*/



/**************************/
/* HEADER & NAV */
/**************************/
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fdf2e9;
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  z-index: 1000;
}



.logo {
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/*.nav-links li {*/
/*  margin-left: 20px;*/
/*}*/

/*.nav-links a {*/
/*  !*color: white;*!*/
/*  text-decoration: none;*/

/*}*/

/*.nav-links a:hover {*/
/*  !*color: #be0015;*!*/
/*  !*background-color: white;*!*/
/*}*/

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger .line {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
}

.logo-img {
  width: 100%;
  height: 4.5rem;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .main-nav-list {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #fdf2e9;
  }

  .main-nav-list.open {
    display: flex;
  }

  .main-nav-list li {
    text-align: center;
    margin: 10px 0;
  }

  .hamburger {
    display: flex;
  }
}

/**************************/
/* footer*/
/**************************/
.footer {
  background-color: #fdf2e9;
  display: flex;
  min-height: 4rem;
  align-items: center;
}
.footer p {
  padding-left: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
}


.random-film-btn-container{
  display: flex;
  justify-content: center;
  margin: 1rem;
}
