<header>
  <nav class="navbar">
    <div class="logo">MyWebsite</div>
    <div class="menu-icon" id="menu-icon">&#9776;</div>
    <ul class="nav-links" id="nav-links">
<!--      <li><a href="#">Home</a></li>-->
<!--      <li><a href="#">About</a></li>-->
<!--      <li><a href="#">Services</a></li>-->
<!--      <li><a href="#">Contact</a></li>-->

            <li><a routerLink="home">Home</a></li>
            <li>
              <a routerLink="watchlist"
                >Watchlist
                <span *ngIf="listCount()">{{ listCount().length }}</span></a>
            </li>
    </ul>
  </nav>
</header>

<!--<header class="header">-->
<!--  <nav class="main-nav">-->
<!--    <a routerLink="select-category">-->
<!--      <div class="logo">-->
<!--        <img class="logo-img" alt="logo" src="../assets/images/logo.png" />-->
<!--      </div>-->
<!--    </a>-->
<!--    <ul-->
<!--      #navLinks-->
<!--      id="navLinks"-->
<!--      class="main-nav-list"-->
<!--      [ngClass]="{ open: expandHamburger }"-->
<!--    >-->
<!--      <li><a class="main-nav-link" routerLink="home">Home</a></li>-->
<!--      <li>-->
<!--        <a class="main-nav-link" routerLink="watchlist"-->
<!--          >Watchlist-->
<!--          <span *ngIf="listCount()">{{ listCount().length }}</span></a-->
<!--        >-->
<!--      </li>-->
<!--    </ul>-->
<!--    <div #hamburger class="hamburger" (click)="toggleHamburger()">-->
<!--      <div class="line"></div>-->
<!--      <div class="line"></div>-->
<!--      <div class="line"></div>-->
<!--    </div>-->
<!--  </nav>-->
<!--</header>-->
