<div class="card-body">
<!--  <div>-->
<!--    watchlist..-->
<!--    |{{watchlist() | json}}|-->
<!--  </div>-->

<!--  <div *ngIf="watchlist().length; else noItems">-->
<!--    "title": "Jaws",-->
<!--    "genre": "Thriller",-->
<!--    "releaseDate": "0001-01-01T00:00:00"-->
<!--    -->
<!--    <div>title: {{title}}</div>-->
<!--  </div>-->

  <div class="landing-container">
    @for (film of watchlist().movies; track film) {
      <div class="movie">
        <img
          src="{{ this.IMG_PATH }}{{ film.posterPath }}"
          alt="{{ film.title }}"
        />
        <div class="movie-info">
          <h3>{{ film.title }}</h3>
        </div>
        <div class="overview">
          <h3>Overview</h3>
          {{ film.overview }}
        </div>

<!--        <div-->
<!--          (click)="addToWatchlist(film)"-->
<!--          class="favorite-icon"-->
<!--          alt="add to watchlist icon"-->
<!--        >-->
<!--          &#10084;-->
<!--        </div>-->
        <!-- Heart icon -->
      </div>

    }
  </div>


<!--  @for (film of watchlist().movies; track film) {-->
<!--    <div class="movie">-->
<!--      <img-->
<!--        src="{{ this.IMG_PATH }}{{ film.posterPath }}"-->
<!--        alt="{{ film.title }}"-->
<!--      />-->
<!--      <div class="movie-info">-->
<!--        <h3>{{ film.title }}</h3>-->
<!--      </div>-->
<!--&lt;!&ndash;      <div class="movie-info">&ndash;&gt;-->
<!--&lt;!&ndash;        <h3>{{ film.genre }}</h3>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--    </div>-->

<!--  }-->

<!--  <div *ngIf="listItems().length; else noItems">-->
<!--    &lt;!&ndash;  todo: re-use&ndash;&gt;-->
<!--    <div class="landing-container">-->
<!--      @for (film of listItems(); track film) {-->
<!--        <div class="movie">-->
<!--          <img-->
<!--            src="{{ this.IMG_PATH }}{{ film.poster_path }}"-->
<!--            alt="{{ film.title }}"-->
<!--          />-->
<!--          <div class="movie-info">-->
<!--            <h3>{{ film.title }}</h3>-->
<!--          </div>-->
<!--&lt;!&ndash;          <div class="movie-info">&ndash;&gt;-->
<!--&lt;!&ndash;            <h3>{{ film.genre }}</h3>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--          <div class="overview">-->
<!--            <h3>Overview</h3>-->
<!--            {{ film.overview }}-->
<!--          </div>-->



<!--&lt;!&ndash;          {&ndash;&gt;-->
<!--&lt;!&ndash;          "items": [&ndash;&gt;-->
<!--&lt;!&ndash;          {&ndash;&gt;-->
<!--&lt;!&ndash;          "id": 999,&ndash;&gt;-->
<!--&lt;!&ndash;          "name": "rthrthrthrthrth   34444444",&ndash;&gt;-->
<!--&lt;!&ndash;          "description": "seinfled",&ndash;&gt;-->
<!--&lt;!&ndash;          "userId": 2,&ndash;&gt;-->
<!--&lt;!&ndash;          "movies": [&ndash;&gt;-->
<!--&lt;!&ndash;          {&ndash;&gt;-->
<!--&lt;!&ndash;          "id": 1,&ndash;&gt;-->
<!--&lt;!&ndash;          "title": "Fight Club",&ndash;&gt;-->
<!--&lt;!&ndash;          "genre": "action",&ndash;&gt;-->
<!--&lt;!&ndash;          "releaseDate": "1999-01-01T00:00:00"&ndash;&gt;-->
<!--&lt;!&ndash;          },&ndash;&gt;-->
<!--&lt;!&ndash;          {&ndash;&gt;-->
<!--&lt;!&ndash;          "id": 2,&ndash;&gt;-->
<!--&lt;!&ndash;          "title": "Jaws",&ndash;&gt;-->
<!--&lt;!&ndash;          "genre": "Thriller",&ndash;&gt;-->
<!--&lt;!&ndash;          "releaseDate": "0001-01-01T00:00:00"&ndash;&gt;-->
<!--&lt;!&ndash;          },&ndash;&gt;-->
<!--&lt;!&ndash;          {&ndash;&gt;-->
<!--&lt;!&ndash;          "id": 3,&ndash;&gt;-->
<!--&lt;!&ndash;          "title": "Moon",&ndash;&gt;-->
<!--&lt;!&ndash;          "genre": "Sci-Fi",&ndash;&gt;-->
<!--&lt;!&ndash;          "releaseDate": "0001-01-01T00:00:00"&ndash;&gt;-->
<!--&lt;!&ndash;          }&ndash;&gt;-->
<!--&lt;!&ndash;          ]&ndash;&gt;-->
<!--&lt;!&ndash;          }&ndash;&gt;-->
<!--&lt;!&ndash;          ]&ndash;&gt;-->
<!--&lt;!&ndash;          }&ndash;&gt;-->



<!--&lt;!&ndash;          <div&ndash;&gt;-->
<!--&lt;!&ndash;            (click)="addToWatchlist(film)"&ndash;&gt;-->
<!--&lt;!&ndash;            class="favorite-icon"&ndash;&gt;-->
<!--&lt;!&ndash;            alt="add to watchlist icon"&ndash;&gt;-->
<!--&lt;!&ndash;          >&ndash;&gt;-->
<!--&lt;!&ndash;            &#10084;&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--          &lt;!&ndash; Heart icon &ndash;&gt;-->
<!--        </div>-->

<!--      }-->
<!--    </div>-->

<!--    &lt;!&ndash; Display the cart items &ndash;&gt;-->
<!--&lt;!&ndash;    <div *ngFor="let item of listItems()">&ndash;&gt;-->
<!--&lt;!&ndash;      <div>{{ item | json }}</div>&ndash;&gt;-->
<!--&lt;!&ndash;      &lt;!&ndash;      <sw-cart-item [item]='item' />&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--  </div>-->
</div>

<ng-template #noItems> No items in cart </ng-template>
