<!--  /*@media screen and (max-width: 650px) {*/-->
<!--  /*  .content {*/-->
<!--  /*    flex-direction: column;*/-->
<!--  /*    width: max-content;*/-->
<!--  /*  }*/-->

<!--  /*  .divider {*/-->
<!--  /*    height: 1px;*/-->
<!--  /*    width: 100%;*/-->
<!--  /*    background: var(&#45;&#45;red-to-pink-to-purple-horizontal-gradient);*/-->
<!--  /*    margin-block: 1.5rem;*/-->
<!--  /*  }*/-->
<!--  /*}*/-->

<!--<mp-movie></mp-movie>-->
<!--<mp-category-selector></mp-category-selector>-->
<mp-navigation></mp-navigation>

<router-outlet></router-outlet>
