<!--<div class="wheel-container">-->
<!--  <canvas id="wheel" width="500" height="500"></canvas>-->
<!--  <button id="spin">Spin</button>-->
<!--</div>-->


<!--<div class="app-container-yada">-->
<!--<app-roulette-wheel [options]="options" (selectionChange)="onSelectionChange($event)"></app-roulette-wheel>-->
<!--</div>-->


<input type="button" (click)="clickBtn($event)" value="spin" style="float:left;" id='spin' />

<canvas *ngIf="!!options && options.length > 0" id="canvas" width="500" height="500"></canvas>

<div>options: {{options | json}}</div>


<!-- todo: look into https://www.npmjs.com/package/spin-wheel-->


<!--?https://ngx-wheel.web.app/-->
