<div class="wheel-picker-container">
  <div class="wheel-component">
<!--    <p>Spinner here. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>-->
    <canvas *ngIf="!!options && options.length > 0" id="canvas" width="500" height="500"></canvas>
  </div>
  <div class="aside aside-1">Spin/Spin Again btn</div>
  <div class="aside aside-2">YT link</div>
  <div class="aside aside-3">RT link</div>
</div>



<!--<input type="button" (click)="clickBtn($event)" value="spin" style="float:left;" id='spin' />-->

<!--<canvas *ngIf="!!options && options.length > 0" id="canvas" width="500" height="500"></canvas>-->

<!--<div>options: {{options | json}}</div>-->


<!-- todo: look into https://www.npmjs.com/package/spin-wheel-->
<!--?https://ngx-wheel.web.app/-->
