/*.wrapper {*/
/*  display: flex;*/
/*  !*flex-direction: row;*!*/
/*  !*flex-wrap: wrap;*!*/
/*  flex-flow: row wrap;*/
/*  font-weight: bold;*/
/*  text-align: center;*/
/*}*/

/*.wrapper > * {*/
/*  padding: 10px;*/
/*  !*flex: 1 100%;*!*/
/*}*/

/*.headerx {*/
/*  background: tomato;*/
/*}*/

/*.footerx {*/
/*  background: lightgreen;*/
/*}*/

/*.main {*/
/*  text-align: left;*/
/*  background: deepskyblue;*/
/*}*/

/*.aside-1 {*/
/*  background: gold;*/
/*}*/

/*.aside-2 {*/
/*  background: hotpink;*/
/*}*/

/*@media all and (min-width: 600px) {*/
/*  .aside { flex: 1 0 0; }*/
/*}*/

/*@media all and (min-width: 800px) {*/
/*  .main    { flex: 3 0; }*/
/*  .aside-1 { order: 1; }*/
/*  .main    { order: 2; }*/
/*  .aside-2 { order: 3; }*/
/*  .footer  { order: 4; }*/
/*}*/

/*body {*/
/*  padding: 2em;*/
/*}*/


/*.wheel-container {*/
/*  text-align: center;*/
/*}*/

/*canvas {*/
/*  border: 2px solid #000;*/
/*  border-radius: 50%;*/
/*}*/

/*button {*/
/*  margin-top: 20px;*/
/*  padding: 10px 20px;*/
/*  font-size: 16px;*/
/*  cursor: pointer;*/
/*}*/


/*.app-container-yada {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: 100vh;*/
/*    background-color: #f0f0f0;*/
/*}*/
