<div class="wheel-picker-container">
  <div [hidden]="!this.selectedFilm" class="film-data">
    <div class="card">
      <img src="../assets/images/sixth.jpg" alt="Avatar" class="card-img" />
      <div class="container">
        <h4>
          <b>{{ this.selectedFilm?.title }}</b>
        </h4>
        <p>Architect & Engineer</p>
      </div>
    </div>
  </div>
  <div [hidden]="!this.selectedFilm" class="film-data">
    @if (!!this.selectedFilmTrailerId) {
      <div>
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/lXO0he1WjYw"
          title="Fight Club Trailer"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        >
        </iframe>
      </div>
    }
  </div>
  <div [hidden]="!this.selectedFilm" class="film-data">
    <a href="{{selectedRottenTomatoesUrl}}">selectedRottenTomatoesUrl</a>
  </div>
  <div [hidden]="!this.selectedFilm" class="film-data">
    <a href="{{selectedFilmImdbUrl}}">selectedFilmImdbUrl</a>
  </div>

  <div [hidden]="!this.selectedFilm" class="">
    <button class="btn" (click)="backToSpinner($event)"></button>
  </div>

  <div [hidden]="!!this.selectedFilm" class="wheel-component">
    <!--    <p>Spinner here. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>-->


    <canvas
      *ngIf="!!options && options.length > 0"
      id="canvas"
      width="500"
      height="500"
    ></canvas>
    <div class="">
      <button class="btn" (click)="clickBtn($event)">Spin</button>
    </div>
  </div>
</div>

<!---->

<!--<canvas *ngIf="!!options && options.length > 0" id="canvas" width="500" height="500"></canvas>-->

<!--<div>options: {{options | json}}</div>-->

<!-- todo: look into https://www.npmjs.com/package/spin-wheel-->
<!--?https://ngx-wheel.web.app/-->
