<div class="flex-container flex-wrap division-container">
  <div *ngFor="let b of boxers" class="division-item">
    <div class="flex-row">
      <!--        todo: restore the following when images are in place-->
            <img
              src="\assets\images\boxer-{{b.id}}.jpg"
              style="width: 270px; height: 270px"
              alt="large boxer image"
            />
<!--      <img-->
<!--        src="\assets\images\boxer-13.jpg"-->
<!--        style="width: 270px; height: 270px"-->
<!--        alt="large boxer image"-->
<!--      />-->
    </div>
    <div class="flex-column boxer-detail">
      <div class="flex-row">
        {{b.ranking}}-{{ b.fullName }}
      </div>
      <div class="flex-row">
        {{ b.country }}
      </div>
      <div class="flex-row">{{ b.record }}</div>
    </div>
  </div>
</div>