<div class="card-body">
  <div *ngIf="listItems().length; else noItems">
    <div class="row">
      <div class="col-md-2 fw-bold">Product</div>
      <div class="col-md-2 fw-bold">Class</div>
      <div class="col-md-2 fw-bold text-center">Price (credits)</div>
      <div class="col-md-2 fw-bold text-center">Quantity</div>
      <div class="col-md-2 fw-bold text-end">Extended Price</div>
    </div>

    <!-- Display the cart items -->
    <div *ngFor="let item of listItems()">
      <div>{{ item | json }}</div>
      <!--      <sw-cart-item [item]='item' />-->
    </div>
  </div>
</div>

<ng-template #noItems> No items in cart </ng-template>
