<p>select-film works!</p>
<div>categoryId: {{ categoryId }}</div>
<!--<div>filteredFilms: |{{this.filteredFilms?.length}}|</div>-->
<div>selectedFilm: |{{ selectedFilm }}|</div>
<!--todo: 1= list-->
@if (!!categoryId && categoryId === '1') {
  <div>Pick a random film from the one of these lists...</div>
  <div class="list-btn-container">
    <button (click)="selectAList(1)" class="list-btn">1999 book</button>
    <button (click)="selectAList(2)" class="list-btn">PTA</button>
    <button (click)="selectAList(3)" class="list-btn">Netflix</button>
  </div>
}
@if (!!selectedFilm){
<div class="select-film-container">
  <div class="card">
    <img src="../assets/images/fight-club.jpg" alt="Avatar" class="card-img" />
    <div class="container">
      <h4><b>{{selectedFilm?.title}}</b></h4>
      <p>Architect & Engineer</p>
    </div>
  </div>
  <div>
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/lXO0he1WjYw"
      title="Fight Club Trailer"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    >
    </iframe>
  </div>
</div>
} @else {
  <h3>No films found for this selection</h3>
}

<!--<div class="find-film-container">-->

<!--<div class="container-temp">-->
<!--  <div class="column-temp">-->
<!--        <div class="card">-->
<!--          <img-->
<!--            src="../assets/images/fight-club.jpg"-->
<!--            alt="Avatar"-->
<!--            class="card-img"-->
<!--          />-->
<!--          <div class="container">-->
<!--            <h4><b>John Doe</b></h4>-->
<!--            <p>Architect & Engineer</p>-->
<!--          </div>-->
<!--        </div>-->

<!--    <div class="card">-->
<!--      <img src="../assets/images/sixth.jpg" alt="Avatar" class="card-img" />-->
<!--      <div class="container">-->
<!--        <h4><b>John Doe</b></h4>-->
<!--        <p>Architect & Engineer</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="column-temp">-->
<!--    <div>-->
<!--      <p>-->
<!--      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet harum hic illo.inventore laboriosam omnis perspiciatis possimus quasi quos ratione saepe suscipit, ut vel. Ad aperiam ducimus facere ipsa odit!-->
<!--      </p>-->
<!--      <p>-->
<!--        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet harum hic illo.inventore laboriosam omnis perspiciatis possimus quasi quos ratione saepe suscipit, ut vel. Ad aperiam ducimus facere ipsa odit!-->
<!--      </p>-->
<!--      <p>-->
<!--        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet harum hic illo.inventore laboriosam omnis perspiciatis possimus quasi quos ratione saepe suscipit, ut vel. Ad aperiam ducimus facere ipsa odit!-->
<!--      </p>-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->

<!--</div>-->
