<!--todo: remove debug-->
<!--<div>categoryId: {{ categoryId }}</div>-->
<!--<div>selectedFilm: {{ selectedFilm?.id }} | {{ selectedFilm?.title }}</div>-->
<!--todo: 1= list-->
@if (!!categoryId && categoryId === "1") {
  <p class="hero-description">
    Select a list from below...
  </p>
  <div class="clickable-card-container">
    @for (list of lists; track list) {
      <a routerLink="/list/{{ list.id }}">
        <!--      <div class="meal"  (click)="selectAList(list.id)">-->
        <div class="meal">
          <img
            src="../assets/images/{{ list.imageName }}"
            class="meal-img"
            alt="Japanese Gyozas"
          />
          <div class="meal-content">
            <!--          <div class="meal-tags">-->
            <!--&lt;!&ndash;            todo: use these tags for genres (when a film is selected) &ndash;&gt;-->
            <!--            <span class="tag tag&#45;&#45;vegetarian">Vegetarian</span>-->
            <!--          </div>-->
            <p class="meal-title">{{ list.title }}</p>
          </div>
        </div>
      </a>
      <!--      <button class="card-btn" (click)="selectAList(list.id)">-->
      <!--        <div class="card">-->
      <!--          <img-->
      <!--            src="../assets/images/{{ list.imageName }}"-->
      <!--            alt="Avatar"-->
      <!--            class="card-img"-->
      <!--          />-->
      <!--          <div>-->
      <!--            <h4>-->
      <!--              <b></b>-->
      <!--            </h4>-->
      <!--            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </button>-->
    }

    <!--    <button (click)="selectAList(1)">-->
    <!--      <div class="card">-->
    <!--        <img-->
    <!--          src="../assets/images/movies-1.png"-->
    <!--          alt="Avatar"-->
    <!--          class="card-img"-->
    <!--        />-->
    <!--        <div >-->
    <!--          <h4><b>1999 book</b></h4>-->
    <!--          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </button>-->
    <!--    <button (click)="selectAList(2)">-->
    <!--      <div class="card">-->
    <!--        <img-->
    <!--          src="../assets/images/movies-2.png"-->
    <!--          alt="Avatar"-->
    <!--          class="card-img"-->
    <!--        />-->
    <!--        <div >-->
    <!--          <h4><b>PTA</b></h4>-->
    <!--          <p>Dolor sit amet, consectetur adipisicing elit.</p>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </button>-->
    <!--    <button (click)="selectAList(3)">-->
    <!--      <div class="card">-->
    <!--        <img-->
    <!--          src="../assets/images/movies-3.png"-->
    <!--          alt="Avatar"-->
    <!--          class="card-img"-->
    <!--        />-->
    <!--        <div >-->
    <!--          <h4><b>Netflix</b></h4>-->
    <!--          <p>Consectetur adipisicing elit. Lorem ipsum dolor sit amet.</p>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </button>-->
  </div>
}
<!--@if (!!selectedFilm) {-->
<!--  <div class="select-film-container">-->
<!--    <div class="card">-->
<!--      <img-->
<!--        src="../assets/images/fight-club.jpg"-->
<!--        alt="Avatar"-->
<!--        class="card-img"-->
<!--      />-->
<!--      <div>-->
<!--        <h4>-->
<!--          <b>{{ selectedFilm?.title }}</b>-->
<!--        </h4>-->
<!--        <p>Architect & Engineer</p>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div>-->
<!--      <iframe-->
<!--        width="560"-->
<!--        height="315"-->
<!--        src="https://www.youtube.com/embed/lXO0he1WjYw"-->
<!--        title="Fight Club Trailer"-->
<!--        frameborder="0"-->
<!--        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"-->
<!--        allowfullscreen-->
<!--      >-->
<!--      </iframe>-->
<!--    </div>-->
<!--  </div>-->
<!--} @else {-->
<!--  <h3>No films found for this selection</h3>-->
<!--}-->

<!--<div class="find-film-container">-->

<!--<div class="container-temp">-->
<!--  <div class="column-temp">-->
<!--        <div class="card">-->
<!--          <img-->
<!--            src="../assets/images/fight-club.jpg"-->
<!--            alt="Avatar"-->
<!--            class="card-img"-->
<!--          />-->
<!--          <div >-->
<!--            <h4><b>John Doe</b></h4>-->
<!--            <p>Architect & Engineer</p>-->
<!--          </div>-->
<!--        </div>-->

<!--    <div class="card">-->
<!--      <img src="../assets/images/sixth.jpg" alt="Avatar" class="card-img" />-->
<!--      <div >-->
<!--        <h4><b>John Doe</b></h4>-->
<!--        <p>Architect & Engineer</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="column-temp">-->
<!--    <div>-->
<!--      <p>-->
<!--      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet harum hic illo.inventore laboriosam omnis perspiciatis possimus quasi quos ratione saepe suscipit, ut vel. Ad aperiam ducimus facere ipsa odit!-->
<!--      </p>-->
<!--      <p>-->
<!--        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet harum hic illo.inventore laboriosam omnis perspiciatis possimus quasi quos ratione saepe suscipit, ut vel. Ad aperiam ducimus facere ipsa odit!-->
<!--      </p>-->
<!--      <p>-->
<!--        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet harum hic illo.inventore laboriosam omnis perspiciatis possimus quasi quos ratione saepe suscipit, ut vel. Ad aperiam ducimus facere ipsa odit!-->
<!--      </p>-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->

<!--</div>-->
