<!--
Max-Width

max-w-0	max-width: 0rem; /* 0px */
max-w-none	max-width: none;
max-w-xs	max-width: 20rem; /* 320px */
max-w-sm	max-width: 24rem; /* 384px */
max-w-md	max-width: 28rem; /* 448px */
max-w-lg	max-width: 32rem; /* 512px */
max-w-xl	max-width: 36rem; /* 576px */
max-w-2xl	max-width: 42rem; /* 672px */
-->
<!-- todo: split these into components with routing...  -->
<!--<app-aspect-ratio></app-aspect-ratio>-->
<!--<app-container></app-container>-->
<!--<app-display></app-display>-->
<!--<app-object-fit></app-object-fit>-->

<!-- todo: remove this temp or move to a sandpit component-->

<div
  class="flex items-center p-6 max-w-sm mx-auto bg-white hover:bg-blue-200 rounded-xl shadow-lg space-x-4 mt-12"
>
  <img class="w-12 h-12 rounded" src="../../assets/oasis.jpg" alt="oasis" />
  <div>
    <div class="text-xl font-medium text-black">Are you sure?</div>
    <p class="text-slate-500">You are about to delete blah blah blah</p>
  </div>
</div>
