
<!-- IF - old way..-->
<!--<div *ngIf="loggedIn; else anonymousUser">-->
<!--  The user is logged in-->
<!--</div>-->
<!--<ng-template #anonymousUser>-->
<!--  The user is not logged in-->
<!--</ng-template>-->

<!-- IF - new way..-->
<!--@if (loggedIn) {-->
<!--The user is logged in-->
<!--} @else {-->
<!--The user is not logged in-->
<!--}-->

<!-- x - old way..-->
<!-- x - new way..-->


<!-- x - old way..-->
<!-- x - new way..-->

<!-- x - old way..-->
<!-- x - new way..-->

<!-- x - old way..-->
<!-- x - new way..-->
