<div class="flex-container">
  <div>
    <ul>
      <li *ngFor="let w of weights" (click)="onWeightSelected(w.id)">
        {{ w.name }}
      </li>
    </ul>
  </div>
  <div>
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let boxer of boxersAtSelectedWeight" cdkDrag>
        {{ boxer.name }}
        <img
          *cdkDragPreview
          [src]="getBoxerImage(boxer.id)"
          [alt]="boxer.name"
        />
      </div>
    </div>
  </div>
</div>
