<!--<div class="search-container">-->
<!--  <input type="text" placeholder="Search..." class="search-input" />-->
<!--  <button class="search-button">-->
<!--    <i class="fa fa-search"></i>-->
<!--  </button>-->
<!--</div>-->

<app-search></app-search>
<div class="container-temp">
  <div class="column-temp">
    <div class="card">
      <img
        src="../assets/images/fight-club.jpg"
        alt="Avatar"
        class="card-img"
      />
      <div class="container">
        <h4><b>John Doe</b></h4>
        <p>Architect & Engineer</p>
      </div>
    </div>
    <div class="card">
      <img
        src="../assets/images/sixth.jpg"
        alt="Avatar"
        class="card-img"
      />
      <div class="container">
        <h4><b>John Doe</b></h4>
        <p>Architect & Engineer</p>
      </div>
    </div>
  </div>
  <div class="column-temp">
    <div>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/qtRKdVHc-cE"
        title="Fight Club Trailer"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      >
      </iframe>
    </div>
  </div>
</div>

<!--<div class="container-temp">-->
<!--  <div class="column-temp">-->
<!--    <div class="card">-->
<!--      <img src="../assets/images/sixth.jpg" alt="Avatar" class="card-img" />-->
<!--      <div class="container">-->
<!--        <h4><b>John Doe</b></h4>-->
<!--        <p>Architect & Engineer</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="column-temp">-->
<!--    <div>-->
<!--      <iframe-->
<!--        width="560"-->
<!--        height="315"-->
<!--        src="https://www.youtube.com/embed/lXO0he1WjYw"-->
<!--        title="Fight Club Trailer"-->
<!--        frameborder="0"-->
<!--        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"-->
<!--        allowfullscreen-->
<!--      >-->
<!--      </iframe>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="card">-->
<!--  <img src="../assets/images/sixth.jpg" alt="Avatar" class="card-img">-->
<!--  <div class="container">-->
<!--    <h4><b>John Doe</b></h4>-->
<!--    <p>Architect & Engineer</p>-->
<!--  </div>-->
<!--</div>-->
