<div>Find a Film is coming soon</div>
<!--<div class="flex-container">-->
<!--  <div class="flex-row m-auto">-->
<!--    <div>-->
<!--      <app-search></app-search>-->
<!--    </div>-->
<!--    <div class="flex-container">-->
<!--      <div class="flex-column">-->
<!--        <div class="">-->
<!--          <div class="card">-->
<!--            <img-->
<!--              src="../assets/images/fight-club.jpg"-->
<!--              alt="Avatar"-->
<!--              class="card-img"-->
<!--            />-->
<!--            <div >-->
<!--              <h4><b>John Doe</b></h4>-->
<!--              <p>Architect & Engineer</p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="">-->
<!--          <div class="card">-->
<!--            <img-->
<!--              src="../assets/images/sixth.jpg"-->
<!--              alt="Avatar"-->
<!--              class="card-img"-->
<!--            />-->
<!--            <div >-->
<!--              <h4><b>John Doe</b></h4>-->
<!--              <p>Architect & Engineer</p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div>-->
<!--        <iframe-->
<!--          width="560"-->
<!--          height="315"-->
<!--          src="https://www.youtube.com/embed/lXO0he1WjYw"-->
<!--          title="Fight Club Trailer"-->
<!--          frameborder="0"-->
<!--          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"-->
<!--          allowfullscreen-->
<!--        >-->
<!--        </iframe>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--&lt;!&ndash;<div class="find-film-container">&ndash;&gt;-->

<!--&lt;!&ndash;<div class="container-temp">&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="column-temp">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="card">&ndash;&gt;-->
<!--&lt;!&ndash;          <img&ndash;&gt;-->
<!--&lt;!&ndash;            src="../assets/images/fight-club.jpg"&ndash;&gt;-->
<!--&lt;!&ndash;            alt="Avatar"&ndash;&gt;-->
<!--&lt;!&ndash;            class="card-img"&ndash;&gt;-->
<!--&lt;!&ndash;          />&ndash;&gt;-->
<!--&lt;!&ndash;          <div >&ndash;&gt;-->
<!--&lt;!&ndash;            <h4><b>John Doe</b></h4>&ndash;&gt;-->
<!--&lt;!&ndash;            <p>Architect & Engineer</p>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->

<!--&lt;!&ndash;    <div class="card">&ndash;&gt;-->
<!--&lt;!&ndash;      <img src="../assets/images/sixth.jpg" alt="Avatar" class="card-img" />&ndash;&gt;-->
<!--&lt;!&ndash;      <div >&ndash;&gt;-->
<!--&lt;!&ndash;        <h4><b>John Doe</b></h4>&ndash;&gt;-->
<!--&lt;!&ndash;        <p>Architect & Engineer</p>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="column-temp">&ndash;&gt;-->
<!--&lt;!&ndash;    <div>&ndash;&gt;-->
<!--&lt;!&ndash;      <p>&ndash;&gt;-->
<!--&lt;!&ndash;      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet harum hic illo.inventore laboriosam omnis perspiciatis possimus quasi quos ratione saepe suscipit, ut vel. Ad aperiam ducimus facere ipsa odit!&ndash;&gt;-->
<!--&lt;!&ndash;      </p>&ndash;&gt;-->
<!--&lt;!&ndash;      <p>&ndash;&gt;-->
<!--&lt;!&ndash;        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet harum hic illo.inventore laboriosam omnis perspiciatis possimus quasi quos ratione saepe suscipit, ut vel. Ad aperiam ducimus facere ipsa odit!&ndash;&gt;-->
<!--&lt;!&ndash;      </p>&ndash;&gt;-->
<!--&lt;!&ndash;      <p>&ndash;&gt;-->
<!--&lt;!&ndash;        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet harum hic illo.inventore laboriosam omnis perspiciatis possimus quasi quos ratione saepe suscipit, ut vel. Ad aperiam ducimus facere ipsa odit!&ndash;&gt;-->
<!--&lt;!&ndash;      </p>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->
