@tailwind base;
@tailwind components;
@tailwind utilities;


/* todo: remove these... see tw docs*/
.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: column;
}
